@import url("https://fonts.googleapis.com/css?family=Lato");
.about .about-container .about-cards .about-card .about-description .description, .why-us .section-content .why-us-detail, .courses .course-cards .course-card .project-description .description {
  line-height: 1.5;
  text-align: center;
  color: #383a3b;
  font-size: 1rem;
}

.about .about-container .about-cards .about-card, .about .about-container .about-cards .about-card .about-subcard, .courses .course-cards .course-card, .courses .course-cards .course-card .subcard {
  border-radius: 10px;
}

.about .about-container .about-cards .about-card .about-description .title, .courses .course-cards .course-card .project-description .title {
  font-weight: 600;
  color: #164189;
  padding-bottom: 0.8rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.5s all ease-in-out;
}
.header .locales {
  color: #fff;
}
.header .locales .locale {
  cursor: pointer;
}
.header .nav-menu {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-menu .nav-logo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.header .nav-menu .burger {
  cursor: pointer;
}
.header .nav-menu .burger .line {
  width: 30px;
  height: 3px;
  background: #164189;
  margin: 5px;
  transition: all 0.5s ease;
}
.header .nav-menu .burger .line::before, .header .nav-menu .burger .line::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #164189;
  transition: all 0.5s ease;
}
.header .nav-menu .burger .line::before {
  transform: translateY(-7px);
}
.header .nav-menu .burger .line::after {
  transform: translateY(7px);
}
.header .nav-menu .nav-links ul {
  list-style-type: none;
}
.header .nav-menu .nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}
@media screen and (max-width: 769px) {
  .header .burger {
    display: block;
    position: absolute;
    right: 1.5rem;
  }
  .header .burger .line.open {
    background: transparent !important;
  }
  .header .burger .line.open::before {
    transform: rotate(45deg);
    background: white !important;
  }
  .header .burger .line.open::after {
    transform: rotate(-45deg);
    background: white !important;
  }
  .header .locales {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 100px;
    opacity: 0;
    transition: all 0.5s ease;
    pointer-events: none;
  }
  .header .locales.open {
    opacity: 1;
    transition-delay: 0.5s;
    pointer-events: auto;
  }
  .header .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    background-color: #164189;
    clip-path: circle(50px at 90% -10%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 0.8s ease-in-out;
  }
  .header .nav-links .nav-list {
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(5, 1fr);
  }
  .header .nav-links .nav-list .nav-item {
    margin: 0;
    text-align: center;
  }
  .header .nav-links.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
  }
}
@media screen and (min-width: 769px) {
  .header .burger {
    display: none;
  }
  .header .nav-list {
    display: flex;
    padding-top: 0;
  }
  .header .nav-list .nav-item {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .header .locales {
    margin-left: 3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
  }
}

.scrolled {
  background-color: #164189;
}

.logo-scrolled {
  color: white;
}

.burger-scrolled {
  background: white !important;
}
.burger-scrolled::before, .burger-scrolled::after {
  background: white !important;
}

.home {
  padding-bottom: 2rem;
  min-height: 60vh;
}
.home .home-img {
  z-index: 3;
  max-height: 1000px;
}
.home .home-title {
  text-align: center;
}
.home .home-title .title {
  font-size: 3rem;
  color: #164189;
  padding-bottom: 0.8rem;
}
.home .home-title .title .learning {
  color: #18C9C0;
}
.home .home-title .subtitle {
  font-size: 1.2rem;
  color: #383a3b;
  padding-bottom: 0.8rem;
}

@media screen and (min-width: 769px) {
  .home {
    grid-template-columns: repeat(2, 1fr) !important;
    align-items: center;
  }
}
@media screen and (max-width: 769px) {
  .grid .home-title {
    order: 2;
  }
}
.courses .course-cards .course-card .subcard, .courses .course-cards .course-card {
  border-radius: 10px;
}

.courses {
  padding: 2rem 0;
  width: 100%;
  background-color: #f6f6f8ff;
}
.courses .course-cards {
  margin-top: 2rem;
}
.courses .course-cards .course-card {
  margin: 1rem 0;
  width: 300px;
  height: 400px;
  background-color: white;
  position: relative;
}
.courses .course-cards .course-card .subcard {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  background-color: #557DD6;
  width: 90%;
  height: 150px;
  margin: 0 auto;
}
.courses .course-cards .course-card .subcard img {
  width: 80px;
  height: 80px;
}
.courses .course-cards .course-card .project-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.courses .course-cards .course-card .project-description .title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #164189;
  padding-bottom: 0.8rem;
}
.courses .course-cards .course-card .project-description .description {
  width: 90%;
}
.courses .course-cards .course-card .learn-more-btn {
  position: absolute;
  bottom: 1.5rem;
  text-align: center;
  width: 100%;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.3s all ease;
  color: #164189;
}
.courses .course-cards .course-card .learn-more-btn:hover {
  color: #18C9C0;
}

@media screen and (max-width: 981px) {
  .course-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
@media screen and (min-width: 981px) {
  .course-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
  min-height: 100vh;
}
.contact .info-box {
  color: white;
  padding: 0.8rem 0;
  min-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  background: linear-gradient(103deg, #164189 0%, #18c9c0 46%);
  border-radius: 30px;
  position: relative;
}
.contact .info-box .info-title {
  font-size: 2rem;
  padding-bottom: 0.8rem;
}
.contact .info-box .info-subtitle {
  padding-top: 0.8rem;
  font-size: 1.3rem;
  padding-bottom: 0.8rem;
}
.contact .info-box .info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.contact .info-box .info-item .description {
  width: 50%;
  text-align: center;
}
.contact .info-box .info-item img {
  width: 40px;
  height: 40px;
}
.contact .info-box .info-social {
  justify-content: space-evenly;
}
.contact .info-box .info-social img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.contact .contact-form-box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50vw;
  flex-direction: column;
  position: relative;
  height: 450px;
  border-radius: 30px;
  background: #e8e8ef;
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}
.contact .contact-form-box .contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .contact-form-box .contact-form textarea {
  resize: none;
}
.contact .contact-form-box .contact-form .input-contact {
  border-radius: 10px;
  width: 55%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin: 1rem;
  padding: 0.8rem;
  border: 0;
}
.contact .contact-form-box .contact-form .input-contact:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid #164189;
}
.contact .contact-form-box .base-btn {
  margin-top: 1rem;
}

.why-us {
  background-color: white;
  padding: 2rem 0;
}
.why-us .section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.why-us .section-content img {
  max-width: 400px;
}
.why-us .section-content .subtitle {
  color: #164189;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bolder;
  margin: 1rem 0;
}
.why-us .section-content .base-btn {
  margin-top: 2rem;
}

@media screen and (max-width: 981px) {
  .why-us-detail {
    width: 80%;
  }
}
@media screen and (min-width: 981px) {
  .why-us-detail {
    width: 50%;
  }
}
.about {
  padding-top: 2rem;
  width: 100%;
  background-color: #f6f6f8ff;
}
.about .about-container {
  justify-items: center;
}
.about .about-container .about-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about .about-container .about-cards .about-card {
  margin: 2rem 0;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.about .about-container .about-cards .about-card .about-subcard {
  -webkit-transform: translateY(-50%) translateX(-20px);
  -ms-transform: translateY(-50%) translateX(-20px);
  transform: translateY(-50%) translateX(-20px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 25%;
  height: 90%;
  margin: 0;
  top: 50%;
  background-color: #18C9C0;
}
.about .about-container .about-cards .about-card .about-description {
  width: 60%;
  text-align: center;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}
.about .about-container .about-cards .about-card .about-description .title {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}
.about .about-container .about-cards .about-card .about-description .description {
  margin-top: 10px;
  width: 100%;
}

@media screen and (max-width: 981px) {
  .about-card {
    width: 300px;
    height: 190px;
  }
}
@media screen and (min-width: 981px) {
  .about-card {
    width: 600px;
    height: 300px;
  }
}
.footer {
  width: 100%;
  height: 80px;
  background-color: #164189;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 6vh 0 0 0;
  font-size: 1em;
}

.grid {
  max-width: 1920px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.section-title {
  color: #164189;
  font-size: 2rem;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.base-btn {
  font-size: 1.5rem;
  margin: 1rem 0;
  padding: 20px 35px;
}
.base-btn a {
  text-decoration: none;
  color: #164189;
  padding: 20px 35px;
  border: 6px solid #18C9C0;
  border-radius: 60px;
  transition: 0.5s ease;
}
.base-btn a:hover {
  background-color: #18C9C0;
  color: white;
}

@media screen and (min-width: 1920px) {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .background-box {
    height: 1300px;
    width: 1600px;
    -webkit-transform: translateX(55%) translateY(-20%) rotate(60deg);
    -ms-transform: translateX(55%) translateY(-20%) rotate(60deg);
    transform: translateX(55%) translateY(-20%) rotate(60deg);
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(103deg, #164189 0%, #18c9c0 46%);
    border-radius: 60px;
  }
}

/*# sourceMappingURL=styles.css.map */
