$background-primary: #f6f6f8ff;
$background-secondary: #e8e8ef;
$font-color-primary: #383a3b;
$font-color-secondary: #bac0c1;
$primary-color: #164189;
$secondary-color: #18C9C0;
$secondary-darker-color: #21948c;
$gradient: linear-gradient(103deg, rgba(22,65,137,1) 0%, rgba(24,201,192,1) 46%);