@use 'variables';
@use 'colors';

@mixin grid-columns-center($amount) {
    grid-template-columns: repeat($amount, 1fr) !important;
    align-items: center;
}

@mixin flex-items-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin grid-with-columns-center($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    justify-items: center;
}

@mixin section-title($color) {
    color: $color;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    margin-bottom: variables.$margin-size;
}

@mixin section-subtitle($color) {
    color: $color;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
    margin: variables.$margin-size 0;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }

@mixin maintain-ratio($ratio: 1 1, $h) {
$height: $h;
$width: percentage(nth($ratio, 2) / nth($ratio, 1));

width: $width;
height: $height;
}

