@use 'colors';

$font-family: Lato, Helvetica, Arial, sans-serif;
$nav-size: 6vh;
$margin-size: 1rem;
$padding-size: .8rem;
$section-padding: 2rem;
$square-border-radius: 60px;
$header-font-size: 3rem;
$box-title-font-size: 2rem;
$box-subtitle-font-size: 1.3rem;
$breakpoint: 769px;
$breakpoint-courses: 981px;
$box-width: 400px;
$box-height: 450px;

%paragraph {
    line-height: 1.5;
    text-align: center;
    color: colors.$font-color-primary;
    font-size: 1rem;
}

%card-border {
    border-radius: $square-border-radius - 50px;
}

%card-title {
    font-weight: 600;
    color: colors.$primary-color;
    padding-bottom: $padding-size;
}
