@use '../helpers/variables';
@use '../helpers/colors';
@use '../helpers/mixins';


$width: 600px;
$height: 300px;
$subcard-height: 90%;

.about {
    padding-top: variables.$section-padding;
    width: 100%;
    background-color: colors.$background-primary;
    .about-container {
        justify-items: center;

        .about-cards {
            @include mixins.flex-items-center();
            flex-direction: column;
            .about-card {
                @extend %card-border;
                margin: variables.$margin-size * 2 0;
                background-color: white;
                position: relative;
                @include mixins.flex-items-center();
                justify-content: space-between;

                .about-subcard {
                    @include mixins.transform(translateY(-50%) translateX(-20px));
                    @include mixins.flex-items-center();
                    @extend %card-border;
                    position: absolute;
                    width: 25%;
                    height: $subcard-height;
                    margin: 0;
                    top: 50%;
                    background-color: colors.$secondary-color;
                }

                .about-description {
                    width: 60%;
                    text-align: center;
                    @include mixins.transform(translateX(50%));
                    .title {
                        width: 100%;
                        height: 100%;
                        font-size: 1.2rem;
                        @extend %card-title;
                    }
    
                    .description {
                        margin-top: 10px;
                        width: 100%;
                        @extend %paragraph;
                    }
                
                }
            }
        }
    }   
}

@media screen and (max-width: #{variables.$breakpoint-courses}) {
    .about-card {
        width: $width/2;
        height: $height/2  + 40px;
    }
}

@media screen and (min-width: #{variables.$breakpoint-courses}) {
    .about-card {
        width: $width;
        height: $height;
    }
}
