@use '../helpers/variables';
@use '../helpers/colors';
@use '../helpers/mixins';


.contact {
    @include mixins.flex-items-center();
    flex-direction: column;
    padding: variables.$section-padding 0;
    width: 100%;
    min-height: 100vh;
      .info-box {
          color: white;
          padding: variables.$padding-size 0;
          min-width: 50vw;
          @include mixins.flex-items-center();
          flex-direction: column;
          @include mixins.transform(translateY(-20px));

          background: colors.$gradient;
          border-radius: variables.$square-border-radius - 30px;
          position: relative;
          .info-title{
              font-size: variables.$box-title-font-size;
              padding-bottom: variables.$padding-size;
          }
          .info-subtitle{
              padding-top: variables.$padding-size;
              font-size: variables.$box-subtitle-font-size;
              padding-bottom: variables.$padding-size;
          }
          .info-item{
              @include mixins.flex-items-center();
              width: 60%;
              .description{
                  width: 50%;
                  text-align: center;
              }
              img {
                  width: 40px;
                  height: 40px;
              }
          }
          .info-social{
              justify-content: space-evenly;
              img {
                  width: 40px;
                  height: 40px;
                  cursor: pointer;
              }
          }
      }
      .contact-form-box {
          margin-top: variables.$margin-size;
          @include mixins.flex-items-center();
          min-width: 50vw;
          flex-direction: column;
          position: relative;
          height: variables.$box-height;
          border-radius: variables.$square-border-radius - 30px;
          background: colors.$background-secondary;
          @include mixins.transform(translateY(-20px));
          .contact-form{
              width: 100%;
              @include mixins.flex-items-center();
              flex-direction: column;
              textarea {resize: none;}
              .input-contact {
                  border-radius: 10px;
                  width: 55%;
                  box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
                  margin: variables.$margin-size;
                  padding: variables.$padding-size;
                  border: 0;

                  &:focus {
                      border: none;
                      outline:none;
                      border-bottom: 3px solid colors.$primary-color;
                  }
              }
          }

          .base-btn {
              margin-top: variables.$margin-size;
          }
      }

}
