@use '../helpers/variables';
@use '../helpers/colors';
@use '../helpers/mixins';


$card-width: 300px;
$card-height: 400px;

%card-border {
    border-radius: variables.$square-border-radius - 50px;
}

.courses {
    padding: variables.$section-padding 0;
    width: 100%;
    background-color: colors.$background-primary;

    .course-cards {
        margin-top: variables.$margin-size * 2;
        .course-card {
            @extend %card-border;
            margin: variables.$margin-size 0;
            width: $card-width;
            height: $card-height;
            background-color:white;  
            position: relative;

            .subcard {
                @include mixins.flex-items-center();
                @extend %card-border;
                @include mixins.transform(translateY(-20px));
                background-color: #557DD6;
                width: 90%;
                height: 150px;
                margin: 0 auto;

                img {
                    width: 80px;
                    height: 80px;
                }
            }

            .project-description {
                @include mixins.flex-items-center();
                flex-direction: column;
                
                .title {
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: colors.$primary-color;
                    padding-bottom: variables.$padding-size;
                    @extend %card-title;
                }

                .description {
                    width: 90%;
                    @extend %paragraph;
                }
            }

            .learn-more-btn {
                position: absolute;
                bottom: 1.5rem;
                text-align: center;
                width: 100%;
                font-weight: bolder;
                cursor: pointer;
                transition: .3s all ease;
                color: colors.$primary-color;
                &:hover {
                    color: colors.$secondary-color;
                }
            }
        }
    }   
}

@media screen and (max-width: #{variables.$breakpoint-courses}) {
    .course-cards {
        @include mixins.grid-with-columns-center(1);
    }
}

@media screen and (min-width: #{variables.$breakpoint-courses}) {
    .course-cards {
        @include mixins.grid-with-columns-center(3);
    }
}

