@use '../helpers/variables';
@use '../helpers/colors';
@use '../helpers/mixins';

.footer {
    width: 100%;
    height: 80px;
    background-color: colors.$primary-color;
    @include mixins.flex-items-center();

    .copyright {
        text-align: center;
        color: #fff;
        font-size: 1rem;
        font-weight: bolder;
    }
}