@use '../helpers/variables';
@use '../helpers/colors';
@use '../helpers/mixins';

.home {
    padding-bottom: variables.$section-padding;
    min-height: 60vh;
    .home-img {
        z-index: 3;
        max-height: 1000px;
    }

    .home-title {
        text-align: center;
        .title {
            font-size: variables.$header-font-size;
            color: colors.$primary-color;
            padding-bottom: variables.$padding-size;
            .learning {
                color: colors.$secondary-color;
            }
        }
        .subtitle {
            font-size: 1.2rem;
            color: colors.$font-color-primary;
            padding-bottom: variables.$padding-size;
        }
    }
}

@media screen and (min-width: #{variables.$breakpoint}) {
    .home {
        @include mixins.grid-columns-center(2);
    }
}

@media screen and (max-width: #{variables.$breakpoint}) {
    .grid {
        .home-title { order: 2;}
    }
}