@use '../helpers/variables';
@use '../helpers/colors';
@use '../helpers/mixins';

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: .5s all ease-in-out;
    
    .locales {
      color: #fff;

      .locale {
        cursor: pointer;
      }
    }

    .nav-menu {
      .nav-logo {
        a {
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 600;
          }
      }

      .burger {
        cursor: pointer;
 
        .line {
          width: 30px;
          height: 3px;
          background: colors.$primary-color;
          margin: 5px;
          transition: all .5s ease;
          &::before, &::after {
            content: "";
            position: absolute;
            width: 30px;
            height: 3px;
            background: colors.$primary-color;
            transition:all .5s ease;
          }
          &::before {
            transform: translateY(-7px);
          }

          &::after {
            transform: translateY(7px);
          }           
        }
      }

      height: variables.$nav-size;
      display: flex;
      justify-content: space-between;
      align-items: center;

    .nav-links { 
      ul {
        list-style-type: none;
      }

      li { 
          a {
          color: #fff;
          text-decoration: none;
          font-size: 1.1rem;   
        }
      }
    }
  }
  @media screen and (max-width: 769px) {
    .burger {
      display: block;
      position: absolute;
      right: 1.5rem;

      .line.open {
        background: transparent !important;

        &::before {
          transform: rotate(45deg);
          background: white !important;
        }

        &::after {
          transform: rotate(-45deg);
          background: white !important;
        }
      }
    }

    .locales {
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
        width: 100px;
        opacity: 0;
        transition: all .5s ease;
        pointer-events: none;
      }

    .locales.open {
      opacity: 1;
      transition-delay: .5s;
      pointer-events: auto;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        padding: 2rem 0;
        background-color: colors.$primary-color;
        clip-path: circle(50px at 90% -10%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all .8s ease-in-out;

        .nav-list {
          height: 100%;
          display: grid;
          align-items: center;
          justify-content: center;
          grid-template-rows: repeat(5, 1fr);

          .nav-item {
            margin: 0;
            text-align: center;
          }
        }
    }

    .nav-links.open {
      clip-path: circle(1500px at 90% -10%);
      -webkit-clip-path: circle(1500px at 90% -10%);
    }

  }

  @media screen and (min-width: 769px) {  
    .burger {
        display: none;
      }

    .nav-list {
        display: flex;
        padding-top: 0;

        .nav-item {
        margin-left: 3rem;
        margin-bottom: 0;
      }
    }

    .locales {
        margin-left: 3rem;
        margin-bottom: 0;
        font-size: 1.1rem;
      }
  }
}

.scrolled {
  background-color: colors.$primary-color;
}

.logo-scrolled {
  color: white;
}

.burger-scrolled {
  background: white !important;

  &::before, &::after {
    background: white !important;
  }
}