@use '../helpers/variables';
@use '../helpers/colors';
@use '../helpers/mixins';

.why-us {
    background-color: white;
    padding: variables.$section-padding 0;

    .section-content {
        @include mixins.flex-items-center();
        flex-direction: column;
        img {
            max-width: 400px;
        }
        .subtitle {
            @include mixins.section-subtitle(colors.$primary-color);
        }
        .why-us-detail {
            @extend %paragraph;
        }

        .base-btn {
            margin-top: variables.$margin-size * 2;
        }
        
    }
}

@media screen and (max-width: #{variables.$breakpoint-courses}) {
    .why-us-detail {
        width: 80%;
    }
}

@media screen and (min-width: #{variables.$breakpoint-courses}) {
    .why-us-detail {
        width: 50%;
    }
}