@use 'helpers/variables';
@use 'helpers/colors';
@use 'helpers/mixins';
@use 'pages/menu';
@use 'pages/home';
@use 'pages/courses';
@use 'pages/contact';
@use 'pages/why-us';
@use 'pages/about';
@use 'pages/footer';
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$font-family; 
}

html {
    scroll-behavior: smooth;
}


body {
  margin: variables.$nav-size 0 0 0;
  font-size: 1em;
}

.grid {
  max-width: 1920px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width:calc(100% - 2rem); 
  margin-left: variables.$margin-size;
  margin-right: variables.$margin-size;
}

.section-title { 
  @include mixins.section-title(colors.$primary-color);
}

.base-btn {
  font-size: 1.5rem;
  margin: variables.$margin-size 0;
  padding: 20px 35px;
  a {
      text-decoration: none;
      color: colors.$primary-color;
      padding: 20px 35px;
      border: 6px solid colors.$secondary-color;
      border-radius: variables.$square-border-radius;
      transition: 0.5s ease;

      &:hover {
          background-color: colors.$secondary-color;
          color: white;
      }
  }
}

@media screen and (min-width: 1920px) {
  .grid {
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-width: 1024px) {
  .background-box {
    height: 1300px;
    width: 1600px;
    @include mixins.transform(translateX(55%) translateY(-20%) rotate(60deg));
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    background: colors.$gradient;
    border-radius: variables.$square-border-radius;
  }
}
